/* Reset e configuração básica */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* Variáveis Globais */
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    --ff-sans: 'Archivo', system-ui, sans-serif;

    --fw-base: 400;
    --fw-sb: 600;
    --fw-xb: 800;

    --lh-sm: 1.35;
    --lh-base: 1.4;
    --lh-md: 1.45;
    --lh-lg: 1.6;

    --fs-base: 16px; /* Base de 16px apenas como referência */
    --fs-sm: 0.875rem; /* 14px */
    --fs-md: 1rem; /* 16px */
    --fs-lg: 1.5rem; /* 24px */
}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: var(--lh-lg);
    color: var(--text-color-primary);

    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
}

h1 {
    font: var(--fw-xb) var(--fs-lg)/var(--lh-sm) var(--ff-sans);
    color: var(--text-color-primary);
}

h2 {
    font: var(--fw-xb) var(--fs-sm)/var(--lh-base) var(--ff-sans);
    color: var(--text-color-primary);
}

h3 {
    font: var(--fw-sb) var(--fs-sm)/var(--lh-md) var(--ff-sans);
    color: var(--text-color-secondary);
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--brand-color-light);
}

/* Estilos do Container */
.container {
    max-width: 360px;
    padding-inline: 32px;
    margin-inline: auto;
    border: 1px solid magenta;
}

/* Media Queries */
@media (min-width: 26.56em) {
    .container {
        max-width: 26.56rem;
    }
}

@media (min-width: 37.5em) {
    .container {
        max-width: 37.5rem;
    }
}

@media (min-width: 48em) {
    .container {
        max-width: 48rem;
    }
}

@media (min-width: 64em) {
   .container {
        max-width: 64rem;
    }
}

@media (min-width: 80em) {
    .container {
        max-width: 80rem;
    }
}

