#primary {
    padding-block: var(--py-base);
}

#primary div {
    display: flex;
    align-items: center;
    gap: 8px;
}

#primary div:nth-child(1) {
    width: 20px;
}

#primary div:nth-child(2) {
    margin-inline: auto;
    width: 6.25rem;
}

#primary div:nth-child(3) {
    justify-self: end;
}

#secondary {
    padding-block: 0.875rem;
    border: solid 1px var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
    font: var(--fw-sb) var(--fs-sm)/var(--lh-md) var(--ff-sans);
}

