#featured {
    grid-area: featured;
    img {
        height: 100%;
        object-fit: cover;
    }
    .card {
        border-radius: 4px;
        overflow: hidden;
        position: relative;
    
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(
                180deg,
                transparent 0%,
                #020617 100% 
            );
        }
    
    
        figcaption {
            position: absolute;
            bottom: 0;
            padding: 24px;
    
            &:has(.text-lg) {
                padding: 12px;
            }
    
            h2 {
                margin-top: 8px;
            }
        }
    
    }
}

/* 1280px e 1024px */
@media (min-width: 1024px) {
    #featured {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 200px;
    }

    #featured .card:nth-child(1) {
        grid-column: span 2;
        grid-row: span 2;
    }
}

/* 768px */
@media (max-width: 1024px) and (min-width: 768px) {
    #featured {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 180px;
    }

    #featured .card:nth-child(1) {
        grid-column: span 2;
        grid-row: auto;
    }
}

/* 360px */
@media (max-width: 768px) {
    #featured {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    #featured .card:nth-child(1) {
        grid-column: auto;
        grid-row: auto;
    }
}
