section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 0.75rem 1.5rem;
}

section header a {
    justify-self: end;
    align-items: center;
    gap: 0.5rem;
}

section header a span {
    background-image: url(../assets/icons/arrow-right.svg);
    width: 16px;
    height: 16px;
}

section header a:hover span {
    background-image: url(../assets/icons/arrow-right-hover.svg);
}


#highlights img {
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}

#highlights .card {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
}

#highlights .card::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, transparent 0%, #020617 100%);
    inset: 0;
    top: 50%;
}

#highlights .card figcaption {
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
}

#highlights .card figcaption h1,
#highlights .card figcaption h3 {
    margin-top: 0.5rem;
}

/* Substituir ":has()" por classes adicionais se necessário */
#highlights .card figcaption.has-text-xl {
    padding: 0.75rem;
}

#weekly > div {
    grid-template-columns: repeat(4, 292px);
}

#weekly img {
    height: 160px;
}

#weekly figure {
    position: relative;
}

#weekly figure .content-tag {
    position: absolute;
    top: 10px;
    left: 10px;
}

#weekly figure p {
    margin-top: 0.5rem;
    font-weight: 800;
}