#highlights img {
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}

#highlights .card {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
}

#highlights .card::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, transparent 0%, #020617 100%);
    inset: 0;
    top: 50%;
}

#highlights .card figcaption {
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
}

#highlights .card figcaption h1,
#highlights .card figcaption h3 {
    margin-top: 0.5rem;
}

/* Substituir ":has()" por classes adicionais se necessário */
#highlights .card figcaption.has-heading3 {
    padding: 0.75rem;
}